*{
  max-width:  1350px;
}
.main {
  background-color:rgb(72, 72, 72);
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-around;
  
 
}
.top{
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
}
.logo{
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
}

.phonemenu{
  
}
.phone{
  padding-right: 40px;
  padding-left: 40px;
  height: 20px;
  align-items: flex-end;
}
.menu{
  padding-right: 100px;
  padding-left: 80px;
  height: 20px;
}
.slideshow{
  flex: 1 1 100%;
}

.textcontentsidebar{
  display: inline-flex;
  flex: 1 1 100%
}
.textcontent{
  flex:2 1 66%;
}
.sidebar{
  flex:1 1 34%;
}
.footer{
  flex: 1 1 100%;
  height: 200px 
}
#container{
  background-color: lightgray;
  margin: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

p{
  color: white;
  font-family: Papyrus, fantasy;
  text-align: center;
}
